version: '3.8'
services:
  web:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    command: sh -c "npm install && npm run start"
    ports:
      - "80:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - DB_HOST=db
      - DB_USER=ProyectoSW2
      - DB_PASSWORD=ProyectoSW2
      - DB_DATABASE=bbp
    depends_on:
      - db
    restart: always

  db:
    image: mariadb:11
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD=ProyectoSW2
      - MARIADB_DATABASE=bbp
      - MARIADB_USER=ProyectoSW2
      - MARIADB_PASSWORD=ProyectoSW2
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql/baseDeDatos.sql:/docker-entrypoint-initdb.d/1-schema.sql
volumes:
  db_data:
